@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Mukta+Mahee&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --theme-color-blue: #0E48F6;
    --theme-color-white: #FFFFFF;
    --theme-color-black: #000000;
    --theme-color-blue-gradient: linear-gradient(90deg, #0E48F6 0%, #FFFFFF 100%);
}

body {
    font-family: 'Montserrat', sans-serif !important;
    background-color: var(--theme-color-black) !important;
}

.bg-black {
    background-color: var(--theme-color-black) !important;
}

.bg-blue {
    background-color: var(--theme-color-blue) !important;
}

.text-black {
    color: var(--theme-color-black) !important;
}

.text-blue {
    color: var(--theme-color-blue) !important;
}

.large-screen-nav {
    background-color: var(--theme-color-black);
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    font-weight: 300;
}

.large-screen-nav .left-nav {
    background-color: var(--theme-color-black);
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 80%;

}

.large-screen-nav .right-nav {
    background-color: var(--theme-color-black);
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    padding: 0;
    gap: 20px;
    width: 20%;
}

.large-screen-nav ul li {
    list-style: none;
}

.large-screen-nav ul li:not(.logo-link) {
    padding-top: 12px;
}

.large-screen-nav ul li a {
    text-decoration: none;
    color: var(--theme-color-white);
}

.large-screen-nav .anasayfa-link {
    border-bottom: 4px solid transparent;
    border-image: url('@/assets/images/border.png') 5;
    border-image-outset: 5px;
    font-weight: 600;
}

.large-screen-nav .yasam-text {
    font-weight: 600;
}

.large-screen-nav .atolye-text {
    font-weight: 900;
    background: -webkit-linear-gradient(45deg, #0E48F6 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color:linear-gradient(90deg, #0E48F6 0%, #FFFFFF 100%); */
}

.footer-container .atolye-text {
    font-weight: 900;
    background: -webkit-linear-gradient(45deg, #0E48F6 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color:linear-gradient(90deg, #0E48F6 0%, #FFFFFF 100%); */
}

.large-screen-nav .plus-sign {
    font-weight: 700;

}

.large-screen-nav .kesfet-btn {
    background-color: var(--theme-color-blue);
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 400;
}

.large-screen-nav .login-btn {
    border: 1px solid var(--theme-color-blue);
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 400;
}

.coughing-container {
    height: 450px;
    background-image: linear-gradient(90deg, #000000 35%, rgba(0, 0, 0, 0) 56.28%),
        url('@/assets/images/chef.png');
    background-repeat: no-repeat;
    background-position: right
}

.coughing-container h2 {
    font-size: 65px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: 0em;

}

.coughing-container p {
    color: var(--theme-color-white)
}

.coughing-container h2:first-child {
    color: var(--theme-color-white)
}

.coughing-container .abone-ol {
    border: 2px solid var(--theme-color-white);
    background-color: var(--theme-color-black);
    color: var(--theme-color-white);
    padding: 10px 20px;
    border-radius: 8px;
    filter: drop-shadow(0px 10px 80px #8532E6);
}

.coughing-container .abone-ol:hover {
    background-color: var(--theme-color-blue);
    color: var(--theme-color-white);
}

.coughing-container h2:nth-child(2) {
    color: var(--theme-color-blue);

}

.kesfet-container {
    height: 450px;
    background-image: linear-gradient(90deg, #000000 35%, rgba(0, 0, 0, 0) 56.28%),
        url('@/assets/images/night.png');
    background-repeat: no-repeat;
    background-position: right
}

.kesfet-container p {
    color: var(--theme-color-white)
}

.kesfet-container h2 {
    color: var(--theme-color-blue);
    font-weight: 700;

}

.kesfet-container .kesfet-btn {
    border: none;
    background-color: var(--theme-color-blue);
    padding: 5px 20px;
    border-radius: 8px;
    color: var(--theme-color-white);

}

.manifesto {
    margin-top: 140px;
    position: relative;
}

.manifesto-text {
    color: var(--theme-color-white);
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.manifesto-long-text {
    color: var(--theme-color-white);
}


.manifesto-text {
    position: relative;
}

.manifesto-text div {
    border-left: 3px solid #B678FF;
    height: 48px;
    padding: 4px;
    position: absolute;
    left: -1px;
    top: 42%;
}

.manifesto-text .yasam-atolye {
    /* font-size: 24px; */
    font-weight: 600;
    margin-bottom: 0;
    font-size: 18px;

}

.manifesto-text h3 {
    margin-top: 0;

}


#manifesto-quote {
    position: relative;

}

#manifesto-quote::before {
    content: "‘";
    font-size: 140px;
    position: absolute;
    left: -20px;
    top: -28%;
    font-family: 'Mukta Mahee', sans-serif;

}

#manifesto-quote::after {
    content: ",";
    font-size: 140px;
    position: absolute;
    right: -60px;
    top: 59%;
    font-family: 'Mukta Mahee', sans-serif;
}

#manifesto-quote p {
    text-align: end;
}

.blur-1 {
    padding: 30px;
    background-color: #03C04A;
    filter: blur(110px);
    transform: rotate(20deg);
    position: absolute;
    left: -40px;
    height: 400px;
    width: 50px;
    top: 600px;
    z-index: -1;
}

.blur-2 {
    padding: 30px;
    background-color: #DA00FF;
    filter: blur(110px);
    transform: rotate(180deg);
    position: absolute;
    left: -50px;
    height: 600px;
    width: 50px;
    z-index: -1;

}

.blur-3 {
    background-image: linear-gradient(89deg, #DB517A 5.81%, #633EF5 98.35%);
    filter: blur(20px);
    position: absolute;
    height: 600px;
    padding: 20px;
    padding: 30px;
    filter: blur(100px);
    position: absolute;
    transform: rotate(1deg);
    height: 600px;
    left: -25px;
    width: 100px;
    z-index: -1;
}

.blur-1-2 {
    padding: 30px;
    /* background-color: #03C04A; */
    filter: blur(160px);
    /* transform: rotate(90deg); */
    position: absolute;
    left: 20px;
    height: 100px;
    width: 300px;
    /* top: 600px; */
    transform: translate(200px, 310px);
    /* z-index: -2; */
}

.blur-2-2 {
    padding: 30px;
    background-color: #DA00FF;
    filter: blur(110px);
    transform: rotate(180deg);
    position: absolute;
    left: -50px;
    height: 600px;
    width: 150px;
    z-index: -1;

}

.blur-3-2 {
    background-image: linear-gradient(90deg, #DB517A 2%, #633EF5 98%);
    filter: blur(120px);
    position: absolute;
    height: 600px;
    transform: rotate(90deg);
    left: -205px;
    width: 300px;
    z-index: -1;
}

.blur-1-3 {
    padding: 30px;
    background-color: #03C04A;
    filter: blur(100px);
    position: absolute;
    right: 0px;
    height: 100px;
    width: 200px;
    /* top: 600px; */
    transform: translate(0px, -90px);
    z-index: -2;
}

.blur-2-3 {
    padding: 30px;
    background-color: #DA00FF;
    filter: blur(130px);
    transform: translate(0, -250px);
    position: absolute;
    right: 0px;
    height: 600px;
    width: 150px;
    z-index: -1;

}

.blur-3-3 {
    background-image: linear-gradient(90deg, #DB517A 2%, #633EF5 98%);
    filter: blur(90px);
    position: absolute;
    height: 600px;
    transform: rotate(-180deg);
    right: 50px;
    width: 100px;
    transform: translate(0, -350px);
    z-index: -1;
}

.pupular-slider {
    margin-top: 35px;
}

.aylik-plan {
    background-color: #1E1E1E;
    border-radius: 10px;
    height: 300px;
    width: 200px;
    padding: 15px;
    color: var(--theme-color-white);
    position: relative;
    /* box-shadow: 0px 0px 35px 1px #26332a; */
}

.aylik-plan-3 {
    filter: drop-shadow(0px 0px 6px #8532E6);
}

.aylik-plan-3 button:hover {
    background: #DA00FF;
}

.aylik-plan:not(.aylik-plan-3) {
    filter: drop-shadow(0px 0px 88px rgba(37, 218, 198, 0.2))
        /* box-shadow: 0px 0px 15px  #1b1f1c; */
}

.aylik-plan h4 {
    color: var(--theme-color-blue);
    font-weight: 700;
}

.odeme-card {
    padding: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.odeme-planlar {
    margin-top: 40px;
}

.atoly-plan-text {
    background: -webkit-linear-gradient(45deg, #0E48F6 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.plan-plus-sign {
    color: var(--theme-color-white)
}

.aylik-plan-btn {
    border: 2px solid var(--theme-color-white);
    background: none;
    border-radius: 8px;
    padding: 5px 10px;
    color: var(--theme-color-white);
    position: absolute;
    bottom: 20px;
}

.aylik-plan-btn:hover {
    background-color: var(--theme-color-blue);
    /* border: none; */
}

.pink-divider {
    padding: 2px;
    width: 15%;
    background-color: #B678FF;
    margin-bottom: 20px;
}

.nasil-calisir q {
    font-style: italic;
}


.nasil-calisir-imgs ul {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
}

.nasil-calisir-imgs ul li img {
    width: 80%;
}

.nasil-calisir-imgs .main-image {
    height: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.small-cards .small-cards-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    color: var(--theme-color-white);
}

.small-cards .small-card {
    padding: 5px;
    background-color: #1E1E1E;
    border-radius: 8px;
    width: 200px;
    height: 70px;
    display: flex;
    align-items: center;
    /* box-shadow: 0px 0px 2px, 0px 0px 29px #8532E5 ; */
    box-shadow: 0px 0px 64px rgba(133, 50, 230, 0.16);
}

.small-cards .small-card p {
    margin: auto;
    text-align: center;
}

.option-list {
    color: var(--theme-color-white);
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
    background-color: var(--theme-color-black);
}

.option-list .form-check {
    border: 1px solid #DA00FF;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.form-check-label {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    padding-left: 35px
}

.form-check-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.form-check-label:hover input~span {
    background-color: #ccc;
}

.form-check-label input:checked~span {
    background-color: #DA00FF;
    border: none;
}

.option-list span {
    border: 1px solid var(--theme-color-white);
    width: 17px;
    height: 17px;
    left: 5px;
    top: 5px;
    position: absolute;
    border-radius: 3px;
}

.option-list button {
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    color: var(--theme-color-white);
    background-color: var(--theme-color-blue);
    margin: auto;
    display: block;
}

.asked-btns {
    display: flex;
    justify-content: space-around;
}

.asked-btns button {
    padding: 6px 20px;
    background-color: var(--theme-color-black);
    color: var(--theme-color-white);
    border: 2px solid var(--theme-color-white);
    border-radius: 7px;
}

.collapsible-content button {
    width: 100%;
    border: 1px solid #DA00FF;
    background-color: var(--theme-color-black);
    margin-bottom: 10px;
    padding: 15px 20px 10px;
    border-radius: 10px;
    outline: none;
    box-shadow: none;
    color: var(--theme-color-white);
}

.collapsible-content button .fa-solid {
    color: rgb(124, 124, 124);
}

.collapsible-content button:hover {
    border: 1px solid #DA00FF;
    background-color: var(--theme-color-black);
}

.collapsible-content button:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #DA00FF;
}

.btn-primary {
    /* color: #fff; */
    background-color: var(--theme-color-black) !important;
    border-color: none !important;
    outline: none !important
}

.faces-kesfet-btn {
    background-color: var(--theme-color-blue);
    padding: 8px 20px;
    border-radius: 8px;
    font-weight: 400;
    color: var(--theme-color-white);
}

.footer-container {
    margin-top: 50px;
    padding: 25px 25px;
    background-color: var(--theme-color-black);
    border-bottom: 1px solid var(--theme-color-white);
    position: relative;
}

.footer-container .yasam-text {
    font-weight: 700;
}

.footer-container>.container {
    display: flex;
    justify-content: space-around;
}

.footer-container .footer-ul {
    width: 25%;
    list-style: none;
    padding: 5px;
    margin: 1px;
}

.footer-container .footer-ul li:first-child {
    color: var(--theme-color-white);
    font-weight: 700;
    margin-bottom: 16px;
    font-size: 18px;
}

.footer-container .footer-ul li a {
    text-decoration: none;
    color: var(--theme-color-white);
    font-weight: 400;
    font-size: 14px;
}

.footer-light {
    position: absolute;
    width: 100%;
    height: 100px;
    background: linear-gradient(270deg, rgba(244, 87, 39, 0.4) -8%, rgba(75, 248, 217, 0.4) 41.34%, rgba(254, 59, 161, 0.4) 108.12%);
    filter: blur(80px);
    z-index: -1;
}

.right-reserved {
    padding: 20px;
    background-color: var(--theme-color-black);
}

.right-reserved .year-span {
    font-size: 12px;
    font-weight: 300;
}

.to-top {
    border: 1px solid var(--theme-color-white);
    border-radius: 50%;
    padding: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 300;
}

.to-top:hover {
    cursor: pointer;
}

.bize-ulas-btn {
    padding: 6px 15px;
    border: 2px solid var(--theme-color-white);
    border-radius: 10px;
    background-color: var(--theme-color-black);
    color: var(--theme-color-white);
}

.footer-container ul li:first-child:not(.logo) {
    margin-top: 10px
}

.footer-container .footer-ul .social-icons ul {
    display: flex;
    /* justify-content: space-between; */
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
}

.footer-container .footer-ul .social-icons ul li {
    color: var(--theme-color-white);
    margin: 15px 0px;

}

.footer-container .atolye-text-one {
    font-weight: 200;
}

.colors-4 {
    position: relative;

}

.blur-1-4 {
    padding: 30px;
    background: #6451DB;
    filter: blur(130px);
    /* transform: rotate(20deg); */
    position: absolute;
    left: 0px;
    height: 300px;
    width: 100px;
    top: 300px;
    /* z-index: -1; */
}

.blur-2-4 {
    padding: 30px;
    background: linear-gradient(95.22deg, #45A8EF 7.77%, #F5493E 79.7%);
    filter: blur(120px);
    position: absolute;
    left: 0px;
    top: 300px;
    height: 600px;
    width: 150px;
    z-index: -1;
}

.colors-5 {
    position: relative;
}

.blur-1-5 {
    padding: 30px;
    background: #6451DB;
    filter: blur(120px);
    /* transform: rotate(20deg); */
    position: absolute;
    right: 0px;
    height: 200px;
    width: 50px;
    top: 200px;
    /* z-index: -1; */
}

.blur-2-5 {
    padding: 30px;
    background: linear-gradient(95.22deg, #45A8EF 7.77%, #F5493E 79.7%);
    filter: blur(132px);
    transform: rotate(5deg);
    position: absolute;
    right: 0px;
    top: 300px;
    height: 600px;
    width: 150px;
    z-index: -1;
}

.colors-6 {
    position: relative;
}

.blur-1-6 {
    padding: 30px;
    background: #6451DB;
    filter: blur(70px);
    /* transform: rotate(20deg); */
    position: absolute;
    left: 0px;
    height: 400px;
    width: 100px;
    top: 290px;
    z-index: -1;
}

.blur-2-6 {
    padding: 30px;
    /* background: linear-gradient(95.22deg, #45A8EF 7.77%, #F5493E 79.7%); */
    background: linear-gradient(95.22deg, #F5493E 79.7%, #45A8EF 10.77%);
    filter: blur(90px);
    transform: rotate(-180deg);
    position: absolute;
    left: 0px;
    height: 600px;
    width: 150px;
    z-index: -1;
}


.carousel__prev,
.carousel__next {
    background-color: #ffffff;
    border-radius: var(--vc-nav-width);
    width: var(--vc-nav-width);
    height: var(--vc-nav-width);
    text-align: center;
    font-size: calc(var(--vc-nav-width) * 2 / 3);
    padding: 0;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 0;
    cursor: pointer;
}


@media only screen and (max-width: 1200px) {
    .large-screen-nav {
        display: none;
    }

    .coughing-container {
        background-image: none;
    }

    .manifesto {
        display: none;
    }

    .kesfet-container {
        display: none;
    }

    /* .odeme-card {
        display: none;
    } */

    .asked-btns {
        display: flex;
        /* justify-content: center; */
        gap: 28px;
        margin-top: 30px;
        width: 100%;
        padding: 20px;
    }

    .asked-btns button {
        padding: 0px 25px;
        background-color: var(--theme-color-black);
        color: var(--theme-color-white);
        border: 2px solid var(--theme-color-white);
        border-radius: 15px;
        filter: drop-shadow(0px 0px 20px #311f46);
    }

    .collapsible-content button {
        width: 100%;
        border: 1px solid #DA00FF;
        background-color: var(--theme-color-black);
        margin-bottom: 10px;
        padding: 15px 20px 10px;
        border-radius: 20px;
        outline: none;
        box-shadow: none;
        color: var(--theme-color-white);
    }

    .nasil-calisir .nasil-calisir-imgs .main {
        width: 100%;
    }

    .nasil-calisir .app-links {
        display: flex;
        flex-flow: column;
        gap: 20px;
        justify-content: center;
        width: 100%;
    }

    .nasil-calisir-imgs ul li img {
        width: 60%;
        display: block;
        margin: auto;
    }

    .pink-divider {
        display: none
    }

    .main-text-container .left-bar {
        display: none;
    }

    .small-cards .small-cards-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        gap: 30px;
        color: var(--theme-color-white);
    }

    .small-cards .small-card {
        padding: 20px;
        background-color: #1E1E1E;
        border-radius: 8px;
        width: 70%;
        height: 120px;
        display: flex;
        align-items: center;
        box-shadow: 0px 0px 64px rgba(133, 50, 230, 0.16);
    }

    .colors-5 {
        display: none;
    }

    .colors-2 {
        display: none;
    }


    .colors-3 {
        display: none;
    }

    .colors-4 {
        display: none;
    }

    .colors-6 {
        display: none;
    }
    .colors {
        display: none;
    }

    
    .footer-container>.container {
        display: flex;
        flex-flow: column;
    }

    .footer-container .container .footer-ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        width: 100%;
    }
}

/* .pupular-slider .carousel__prev--in-active,.carousel__next--in-active {
    display: none !important;
  }
  
  .teachers-slider .carousel__next, 
  .carousel__prev{
      display:none !important;
  } */